.git
.gitignore
node_modules
npm-debug.log
.env
.env.local
log
tmp
storage
test
spec
.rspec
coverage
.bundle
vendor
.DS_Store
*.md
docs
deploy
.github
.dockerignore
docker-compose*.yml
nginx
*.pem
*.zip
larmodular-deploy.zip
